% extends 'base.html.twig' %}

{% block title %}Series{% endblock %}

{% block body %}
    <h1>Series</h1>

    <table class="table">
        <tbody>
            <!--<tr>
                <th>Id</th>
                <td>{{ series.id }}</td>
            </tr>-->
            <tr>
                <th>Title</th>
                <td>{{ series.title }}</td>
            </tr>
            <tr>
                <th>Plot</th>
                <td>{{ series.plot }}</td>
            </tr>
            <tr>
                <th>Imdb</th>
                <td><a href="https://www.imdb.com/title/{{ series.imdb }}">Vers IMDB</a>
                </td>
            </tr>
            <tr>
                <th>Poster</th>
                <td><img src ="{{ path('series_poster_show', {'id': series.id}) }}"/></td>
            </tr>
            <tr>
                <th>Director</th>
                <td>{{ series.director }}</td>
            </tr>
            <tr>
                <th>YoutubeTrailer</th>
                <td>
                    {{ series.youtubeTrailer }}
                    <iframe width="560" height="315" src="{{ path('series_trailer_show', {'id': series.id}) }}" frameborder="100" allowfullscreen>
                    </iframe></td>
            </tr>
            <tr>
                <th>Saison</th>
                <td>
                    {% for season in seasons %}
                        <h4>Season {{ season.number }}</h4>
                        {% for ep in episodes %}
                            {% if ep.season.number == season.number %}
                                <a href="https://www.imdb.com/title/{{ ep.imdb }}"><h6>{{ ep.id }} {{ ep.title }}</h6></a>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <h4> Pas de saison</h4>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Awards</th>
                <td>{{ series.awards }}</td>
            </tr>
            <tr>
                <th>YearStart</th>
                <td>{{ series.yearStart }}</td>
            </tr>
            <tr>
                <th>YearEnd</th>
                <td>{{ series.yearEnd }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('series_index') }}">back to list</a>

    <a href="{{ path('series_poster_show', {'id': series.id}) }}">poster</a>

{% endblock %}